

	h1{
		color: rgb(2, 132, 130);
	}

	h2{
		color: #ffd700;
	}
	
.board{
	display: inline-block;
	width: 50%;
	height: 50%;
}

.card{
	height: 200px;
	width: 150px;
	border: 1px solid #000000; 
	background-color: #fcf405;
	border-radius: 10px;
	float: left;
	margin: 8%;
}

nav {
	background: #808080;
	display: 100%;

}

.clearfix:after {
        visibility: hidden;
        display: block;
        content: " ";
        clear: both;
        height: 0;
        font-size: 0;
}

a{
background-color: #ffbf00;
color: white;
padding: 35px;
display: block;
float: left;
text-decoration: none; 
}

a:hover {
	color: red;
}

span{
color:#ff0000;
}

footer{
	background-color: #808080;
	text-align: center;
	clear: both;
	position:fixed;
	width: 100%;
	bottom: 0;
	
}


